<!-- header -->
<app-header></app-header>

<mat-toolbar color="primary" class="toolbarBottomMargin">
    <h1>
      Toolbar Placeholder
    </h1>
  </mat-toolbar>
  
  
<!-- pages are been eplaced here -->
<router-outlet class="bkg"></router-outlet>

<script>
    window.watsonAssistantChatOptions = {
        integrationID: "da73b339-271e-4adc-845b-246530dff496", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "e20b6dba-f5fd-4c45-b301-314e4f338c55", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
      document.head.appendChild(t);
    });
</script>

 <!-- footer -->
<app-footer></app-footer>
